
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: white
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar.scrolled {
    background-color: brown; 
}
.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}
.nav-menu li {
    display: inline-block;
}
.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s ease-in-out;
}
.nav-menu a:hover {
    color: #ff6347;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .nav-menu li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-menu.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}
section {
    padding: 100px 20px;
    text-align: center;
}
#home {
    background: url('images.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#about {
    background-color: black;
    height: 100vh;
}

#services {
    background-color: black;
    height: 100vh;
}
#contact {
    background-color: #222;
    height: 100vh;
}
